<nav class="bg-black text-white py-12 py-lg-100">
  <div class="container">
    <div class="row gy-10 align-items-center">
      <div class="col-lg-6 d-flex flex-column gap-10 gap-lg-9">
        <a href="#"
          ><img src="/assets/images/LOGO-white.png" alt="logo" class="img-logo"
        /></a>
        <ul
          class="d-flex flex-column flex-lg-row gap-5 gap-lg-9 list-unstyled mb-0"
        >
          <li class="body-16-r p-0">常見問題</li>
          <li class="body-16-r p-0">關於我們</li>
          <li class="body-16-r p-0">隱私權政策</li>
          <li class="body-16-r p-0">使用者條款</li>
        </ul>
      </div>

      <div
        class="col-lg-6 d-flex flex-column gap-5 col-lg-6 align-items-lg-end"
      >
        <ul class="d-flex gap-5 list-unstyled mb-0">
          <li class="p-0">
            <a href="#"><img src="/assets/images/btn_line.png" alt="line" /></a>
          </li>
          <li class="p-0">
            <a href="#"><img src="/assets/images/btn_yt.png" alt="yt" /></a>
          </li>
          <li class="p-0">
            <a href="#"><img src="/assets/images/btn_fb.png" alt="fb" /></a>
          </li>
        </ul>

        <p class="body2-14-r">
          copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</nav>
