<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <title>ZOBAA!</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="hero">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <h2
                class="title-16-b text-primary-100 bg-primary-10 rounded-3 p-2 d-inline-block mb-4"
              >
                ZOBAA 旅行推薦平台
              </h2>
              <h1 class="fs-3 display-lg-2 text-primary-100 mb-2 mb-lg-7">
                <span class="d-block d-lg-inline-block">用旅行，</span
                ><span>收藏世界的樣子</span>
              </h1>
              <p class="subtitle-14-b text-primary-80 mb-7 mb-lg-10">
                ZOBAA
                整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。
              </p>
              <form action="" class="position-relative hero-lg-search">
                <img
                  src="/assets/images/search_24dp_67677E.svg"
                  alt="search"
                  class="position-absolute top-50 start-0 translate-middle-y ps-4"
                />
                <button
                  type="button"
                  class="btn btn-primary py-4 px-5 position-absolute top-50 end-0 translate-middle-y me-4"
                >
                  開始探索旅程
                </button>
                <input
                  type="search"
                  class="form-control rounded-3 py-6 ps-10"
                  id="hero-lg-search"
                  placeholder="搜尋景點、地點或城市"
                />
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="recommend py-10 py-lg-13">
        <div
          class="container text-white mb-10 d-flex flex-column flex-lg-row gap-7 gap-lg-0 justify-content-lg-between align-items-lg-center mb-10 mb-lg-12"
        >
          <h2 class="fs-3 display-lg-2">
            你的<br />
            專屬推薦
          </h2>
          <div class="d-flex flex-column gap-4 gap-lg-7">
            <div
              class="d-flex flex-column gap-1 gap-lg-2 subtitle-14-b fs-lg-6"
            >
              <p>
                來看我們的精選推薦行程，滿意度高達 99.2%
                給自己一個難忘的旅遊行程吧！
              </p>
              <p>給自己一個難忘的旅遊行程吧！</p>
            </div>
            <!-- prettier-ignore -->
            <a href="" class="d-inline-flex align-items-center subtitle-14-b fs-lg-title-16-b">查看全部行程
                <span class="material-icons-outlined  ms-2 icon-14 icon-lg-24">
                  arrow_forward
                </span>
              </a>
          </div>
        </div>

        <div class="container d-flex gap-5 overflow-auto">
          <div
            class="card text-bg-dark overflow-hidden flex-shrink-0 flex-lg-shrink-1"
          >
            <img
              src="/assets/images/index/recommend.png"
              class="card-img h-100"
              alt="recommend"
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end"
            >
              <h3 class="fs-4 fs-lg-2 mb-2">峇里島渡假漫遊</h3>
              <p class="body2-14-r fs-lg-title-16-b mb-7">
                精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
              </p>
              <!-- prettier-ignore -->
              <button type="button" class="btn btn-light title-16-b p-6 rounded-pill d-flex justify-content-between d-lg-none">訂購行程
                  <span class="material-icons-outlined ms-2 align-bottom">arrow_forward</span>
                </button>
            </div>
          </div>
          <div
            class="card text-bg-dark overflow-hidden flex-shrink-0 flex-lg-shrink-1"
          >
            <img
              src="/assets/images/index/recommend-1.png"
              class="card-img h-100"
              alt="recommend-1"
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end"
            >
              <h3 class="fs-4 fs-lg-2 mb-2">峇里島渡假漫遊</h3>
              <p class="body2-14-r fs-lg-title-16-b mb-7">
                精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
              </p>
              <!-- prettier-ignore -->
              <button type="button" class="btn btn-light title-16-b p-6 rounded-pill d-flex justify-content-between d-lg-none">訂購行程
                  <span class="material-icons-outlined ms-2 align-bottom">arrow_forward</span>
                </button>
            </div>
          </div>
          <div
            class="card text-bg-dark overflow-hidden flex-shrink-0 flex-lg-shrink-1"
          >
            <img
              src="/assets/images/index/recommend-2.png"
              class="card-img h-100"
              alt="recommend-2"
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end"
            >
              <h3 class="fs-4 fs-lg-2 mb-2">峇里島渡假漫遊</h3>
              <p class="body2-14-r fs-lg-title-16-b mb-7">
                精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
              </p>
              <!-- prettier-ignore -->
              <button type="button" class="btn btn-light title-16-b p-6 rounded-pill d-flex justify-content-between d-lg-none">訂購行程
                  <span class="material-icons-outlined ms-2 align-bottom">arrow_forward</span>
                </button>
            </div>
          </div>
          <div
            class="card text-bg-dark overflow-hidden flex-shrink-0 flex-lg-shrink-1"
          >
            <img
              src="/assets/images/index/recommend-3.png"
              class="card-img h-100"
              alt="recommend-3"
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end"
            >
              <h3 class="fs-4 fs-lg-2 mb-2">峇里島渡假漫遊</h3>
              <p class="body2-14-r fs-lg-title-16-b mb-7">
                精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
              </p>
              <!-- prettier-ignore -->
              <button type="button" class="btn btn-light title-16-b p-6 rounded-pill d-flex justify-content-between d-lg-none">訂購行程
                  <span class="material-icons-outlined ms-2 align-bottom">arrow_forward</span>
                </button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
